@school: #FF9800; //Orange
@relationships: #FF4081; //Pink
@sports: #03A9F4; //Blue
@work: #7DB2AE; //Slate
@roommates: #F7CA18; //Yellow
@finance: #8BC34A; //Green
@tag_background: lighten(#607D8B, 45%); //Light light grey-blue
