@import 'colours';
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

h1 {
  font-size: 1.75em;
  color: #555555;
}

h6 {
  font-size: 70%;
}

.owl-item {
  padding: 10px;
}

.tags {
  margin: 5px;
}

.label {
  font-size: 125%;
  line-height: 2em;
}

.tags > ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.badge {
  margin: .1em;
}

.tag-cloud {
  .border-radius( 5px );
  background-color: #999999;
  color: #FFFFFF;
  display: inline-block;
  margin: .1em;
}

.label > a {
  color: #4C4C4C;
}

.label > a:hover {
  background-color: red;
}

.school {
  background-color: @school;
}

.finance {
  background-color: @finance;
}

.roommates {
  background-color: @roommates;
}

.work {
  background-color: @work;
}

.relationships {
  background-color: @relationships;
}

.sports {
  background-color: @sports;
}

.fa-book {
  color: @school;
}

.fa-money {
  color: @finance;
}

.fa-briefcase {
  color: @work;
}

.fa-heart {
  color: @relationships;
}

.fa-futbol-o {
  color: @sports;
}

.fa-users {
  color: @roommates;
}

.tag_categories {
  background-color: @tag_background;
  .owl-stage-outer {
    height: inherit;
    .owl-stage {
      height: inherit;
    }
  }
}

.portrait {
  width: 100%;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -2em 0;
  padding: 0 0 2em 0;
}

#footer {
  height: 2em;
  background-color: #f5f5f5;
}

.pad-for-nav {
  margin: 10px 0 0 0;
  padding: 50px 0px 0 0;
}

#wrap > .center-container {
  padding: 50px 0px 0 0;
  margin:0;
}

#footer > .container {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.tag-cloud-container {
  padding: 1em;
}

.center-container {
  height:100%;
  display: table;
  width:100%;
  margin:0;
}

.center-row {
  height:50%;
  width:100%;
  display: table-row;
}

.center-row > div {
  height:100%;
  display: table-cell;
  border:0 solid #eee;
  vertical-align: middle;
}

.neutral {
  color: #ffffff;
}

.fa.fa-times {
  text-decoration: none;
  &:hover {
    color: #4C4C4C;
    background-color: #999999;
  }
  &:active {
    color: #4C4C4C;
    background-color: #999999;
  }
  &:visited {
    color: #4C4C4C;
    background-color: #999999;
  }
}

.well {
  padding: 50px 0 0 0;
}